/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color Definitions */
    
    --color-primary: 14 14 26;    /* #0e0e1a */
    --color-secondary: 241 211 1;  /* #f1d301 */
    --color-text: 255 255 255;     /* #ffffff */
    --color-background-dark: 51 51 51;       /* #333 */
    --color-background-light: 255 255 255 0.1;
    --color-border: 255 255 255 0.2;
    --color-overlay: 0 0 0 0.5;
    --color-secondary-rgb: 241, 211, 1;
    --header-height: 70px;

    /* Font Definitions */
    --font-base: 'Montserrat', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
  }
}